<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<div class='grid-container'>
  <% @posts.each do |post| %>
    <div class='grid-item-1'></div>
    <div class='grid-item-2 grid-container-post' data-post-id=<%= post.id %>>
      <div class='grid-item-post-1'><%= post.title %></div>
      <div class='grid-item-post-2'><%= link_to "d/#{post.subdevvit.name}", subdevvit_path(post.subdevvit) %></div>
      <div class='grid-item-post-3'><%= post.text %></div>
      <div class='grid-item-post-4'><%= link_to 'Show', post %></div>
      <div class='grid-item-post-5'><%= link_to 'Edit', edit_post_path(post) %></div>
      <div class='grid-item-post-6'><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    <div class='grid-item-3'></div>
  <% end %>
</div>
