<p id="notice"><%= notice %></p>

<h1>Subdevvits</h1>
<%= link_to 'New Subdevvit', new_subdevvit_path %>

<div class='grid-container'>
  <% @subdevvits.each do |subdevvit| %>
    <div class='grid-item-1'></div>
    <div class='grid-item-2 grid-container-subdevvit' data-id=<%= subdevvit.id %>>
      <h3 class='grid-item-subdevvit-1'><%= subdevvit.name %></h3>
      <div class='grid-item-subdevvit-2'><%= subdevvit.description %></div>
      <div class='grid-item-subdevvit-3'><%= link_to 'Show', subdevvit %></div>
      <div class='grid-item-subdevvit-4'><%= link_to 'Edit', edit_subdevvit_path(subdevvit) %></div>
      <div class='grid-item-subdevvit-5'><%= link_to 'Destroy', subdevvit, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    <div class='grid-item-3'></div>
  <% end %>
</div>
